img {
    width: 304px;
    height: 182px;
    border: 1px solid white;
    margin-bottom: 15px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    background-color: rgba(100, 64, 17, 0.743);
    width: 250px;
    height: 35px;
    font-size: 20px;
    padding-left: 5px;
    margin: 0;
}

input[type="text"]::placeholder {
    color: white;
}

input[type="submit"] {
    background-color: rgba(53, 50, 11, 0.655);
    width: 230px;
    height: 30px;
    font-size: 20px;
    padding: 0;
    margin-top: 5px;
    cursor: pointer;
}

.feedback {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
}

.feedback p {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 5px;
}

.feedback p strong {
    font-weight: 700;
}

.hint {
    width: 150px;
    height: 30px;
    margin: 5px 0px 5px 0px;
    padding: 0;
    background-color: field;
}

