img {
    width: 304px;
    height: 182px;
    border: 1px solid white;
    margin-bottom: 15px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 250px;
    height: 30px;
    padding-left: 5px;
    margin: 0;
}

input[type="submit"] {
    width: 230px;
    height: 25px;
    padding: 0;
    margin-top: 5px;
}

.hint {
    width: 150px;
    height: 30px;
    margin: 5px 0px 5px 0px;
    padding: 0;
    background-color: field;
}

